@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
a {
  margin: 0;
  padding: 0;
}

:root {
  --background-1: #f7f7f7;
  --background-2: white;
  --text: black;
  --menu-text: black;
  --cor-primaria: #e21;
  --cor-primaria-escura: #900;
  --subtitle: rgba(0, 0, 0, 0.2);
}

body {
  background: var(--background-1);
  color: var(--text);
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  gap: 60px;
}

.bikcraft {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.3;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.menu a {
  font-weight: bold;
  background: var(--background-2);
  padding: 15px 30px;
  border-radius: 4px;
  color: var(--menu-text);
  text-transform: uppercase;
}

.menu a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.conteudo {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introducao {
  background: var(--background-2);
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  justify-items: end;
  gap: 20px;
}

.detalhe {
  width: 60px;
  height: 4px;
  background: red;
  position: absolute;
  top: 25px;
  right: -30px;
}

.botao {
  background: var(--cor-primaria);
  padding: 15px 30px;
  /* font-weight: bold; */
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
}

.botao:hover {
  background: var(--cor-primaria-escura);
}

.subtitulo {
  font-size: 64px;
  text-transform: uppercase;
  color: var(--subtitle);
  text-align: right;
  padding: 40px;
  align-self: center;
}

.vantagens {
  background-color: var(--background-2);
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px 0;
}

.vantagens-item p {
  grid-column: 2;
}

footer {
  background: var(--background-2);
  width: 100%;
  text-align: center;
  padding: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-1: #111;
    --background-2: #000000;
    --text: white;
    --subtitle: rgba(255, 255, 255, 0.2);
    --menu-text: white;
  }

  .menu a:hover {
    color: black;
    background: white;
  }
}
